<section class="home">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="content">
                    <h2>Champions League now is avilable on our site</h2>
                    <ul>
                        <li>Sport Club Magazine</li>
                        <li>Football&soccer club</li>
                        <li>Soccer Players</li>
                        <li>Amzing Goals</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right">
                    <img src="../assets/images/home.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>