<div class="about-us">
    <div class="container">
        <div class="col-md-12">
            <div class="big-pic text-center">
                <img class="cover" src="../assets/images/about-us.png">
                <h4>Footballer only offical site</h4>
                <p>Know All the News About Football World and join our site<br>to win every week a beautifull gift</p>
                <button class="btn btn-danger">Get In Touch</button>
            </div>
        </div>
    </div>
</div>

<div class="about-us2">
    <div class="container">
        <h5>Latest News</h5>
        <p>All latest news in the champions</p>
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <img src="../assets/images/wins1.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <img src="../assets/images/wins1.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <img src="../assets/images/wins1.jpg" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
