<div class="footballers">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2>Cristiano <span>Ronaldo</span></h2>
                <p>Cristiano Ronaldo dos Santos Aveiro GOIH ComM is a Portuguese professional footballer who plays as a forward for Serie A club Juventus and captains the Portugal national team.</p>
            </div>
            <div class="col-md-6">
                <img src="../assets/images/ronaldo.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="pictures">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="../assets/images/reus.jpg" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>Marco <span>Reus</span></h2>
                <p>Marco Reus is a German professional footballer who plays for and captains Bundesliga club Borussia Dortmund and the German national team. Reus spent his youth career at Borussia Dortmund, prior to leaving for Rot Weiss Ahlen.</p>
            </div>
        </div>
    </div>
</div>

<div class="pictures">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="last">Kylian <span>Mbappé</span></h2>
                <p>Kylian Mbappé Lottin is a French professional footballer who plays as a forward for Ligue 1 club Paris Saint-Germain and the France national team. Mbappé began his senior career with Ligue 1 club Monaco, making his professional debut in 2015, aged 16.</p>
            </div>
            <div class="col-md-6">
                <img src="../assets/images/mppape.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>
